$white: #fff;
$black: #333;
$graylight: #999;
$yellow: #fce38a;
$red: #f38181;

$font_kaushan: "Kaushan Script", cursive;
$font_monserrat: "Montserrat", sans-serif;
$font_roboto: "Roboto", sans-serif;
// $gap: 20px;
// $fontSize: 16px;
